header{
text-align:center;
background-color:black;
width:100%;
margin:0 auto;
padding:0;
box-sizing:border-box;
}
.log{
margin:20px auto;
}
.logo img{
width:400px;
height:100px;
}
.container{
width:100%;
margin:0 auto;
}
.navbar{
padding:1em;
text-align:left;
border-bottom:1px black;
}
.navbar*{
color:black;
border-bottom:1px black;
}
.navbar ul{
list-style:none;
margin:0;
padding:0;
border-bottom:1px black;
}
.navbar li{
display:inline-block;
margin-right:80px;
}
.navbar ul li {
  border-bottom:1px black;
  box-shadow: none;
}
.navbar ul li a {
  color: black !important;
}
.navbar a {
  color:black; 
  font-size:20px;
  text-decoration: none;
}
.navbar select {
  border: none;
  padding: 5px;
  font-size: 20px;
  color:black; 
}
.navbar select option {
  color:black; 
}
.navbar h2{
text-align:center;
}
.dropdown-toggle:after {  
  content: "\25BC";
  font-size: 12px;
  margin-left: 5px;
}
.dropdown {
  position: relative;
  diaplay:inline-block;
}
.dropdown-toggle {
  cursor: pointer;
}
.dropdown-menu {
  position: absolute;
  background-color:white;
  left:50%;
  transform:translateX(-50%);
  width:140%;
  padding: 20px;
  display: none;
}
.dropdown-menu li {
  margin-bottom: 10px;
}
.dropdown-menu li a {
  text-decoration: none;
  color:black;
}
.dropdown-menu li a:hover {
  color:black;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.navbar search-box{
max-width:550px;
margin-left:350px;
display:flex;
align-items:right;
justify-content:right;
}
.search-box input{
width:220px;
height:40px;
font-size:20px;
padding:20px;
margin-left:350px;
border:2px solid black !important;
}
.search-box button{
width 10px;
padding:9px;
font-size:20px;
cursor:pointer;
}

.index-image img{ 
transition:1.0s;
}
.index-image img:hover{ 
transform:scale(0.9);
opacity:0.8;
}

body{
color:black;
}
h1{
color:rgb(165,124,0);
margin:20px 0 10px;
font-size:40px
}
.row{
display:flex;
justify-content:center;
margin bottom:20px 20px;
gap:30px:
flex-wrap:wrap;
}
.item{
margin:10px;
padding:10px;
width:150px;
text-align:center;
}
.item img{
width:100%;
border-radius:10px;
}
.name{
font-size:20px;
color:black;
margin:5px 0;
}
.price{
color:black;
}
.cart-button{
    display: inline-block;
    background-color:rgb(255,165,0);
    color:white;
    padding: 10px 20px;
    border-radius:30px;
    box-shadow:none;
    margin:0px 10px;
}




footer{
background-color:black;
color:white;
width:100%;
padding:10px;
}
.footer-container{
max-width:1200px;
margin: auto;
display:flex;
flex-wrap:wrap;
justify-content:space-between;
}
.footer-section h3{
font-size:18px;
margin-bottom:10px;
color:white;
}
.footer-section p{
font-size:14px;
margin-bottom:10px;
color:white;
}
.footer-section ul{
list-style:none;
}
.footer-section li{
display:inline-block;
}
.footer-section img{
margin-right:10px;
}
.footer-section a{
color:white;
text-decoration:none;
}
.footer-section a:hover{
color:black;
}

